venv/
.zcache/
bde_eurecom/settings/prod.py
requirements/prod.txt
__pycache__
dev_db.sqlite
bde_eurecom/wsgi.py
bde_eurecom/media
*.swp
*~
*.pyc
*nohup.out
bde_eurecom/setup/registration/*.xls
bde_eurecom/setup/registration/registration.sh
